<div class="main-container">

  <!-- <div class="alert alert-app-level">
    <div>alert</div>
  </div> -->

  <header class="header header-6">
    Github Actions Dashboard
  </header>

  <!-- <nav class="subnav">
    <div>subnav</div>
  </nav> -->

  <div class="content-container">
      <div class="content-area">

        <div class="clr-row">
          <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
              <div class="card">
                  <div class="card-header">
                      Header
                  </div>
                  <div class="card-block">
                      <div class="card-title">
                          Block
                      </div>
                      <div class="card-text">
                          ...
                      </div>
                  </div>
                  <div class="card-footer">
                      <button class="btn btn-sm btn-link">Footer Action 1</button>
                      <button class="btn btn-sm btn-link">Footer Action 2</button>
                  </div>
              </div>
          </div>
        </div>



      </div>

      <!-- <nav class="sidenav">
        <div>sidenav</div>
      </nav> -->

  </div>
</div>



<router-outlet></router-outlet>