<clr-main-container>
  <app-alerts></app-alerts>
  <clr-header class="header header-6">
    <div class="branding">
      <a href="" (click)="goHome()" class="nav-link">
        <clr-icon shape="dashboard"></clr-icon>
        <span class="title">Github Actions Dashboard</span>
      </a>
    </div>
    <div class="header-nav">
      <a class="nav-link nav-icon-text" style="display: flex; cursor: pointer;">
        <clr-icon shape="sun" style="margin-left: 0; margin-right: 0.4rem;"></clr-icon>
        <input type="checkbox" clrToggle [checked]="darkThemeIsActive" (click)="toggleDarkTheme()"/>
        <clr-icon shape="moon" style="margin-left: 0;"></clr-icon>
      </a>
    </div>
    <app-user-header-action class="header-actions"></app-user-header-action>
  </clr-header>

  <div class="content-container">
    <app-left-navi *ngIf="loggedIn$|async"></app-left-navi>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>

</clr-main-container>
