<clr-vertical-nav [clrVerticalNavCollapsible]="collapsible">

  <clr-vertical-nav-group *ngIf="(globalDashboards | async)?.length > 0" routerLinkActive="active">
    <clr-icon shape="dashboard" clrVerticalNavIcon></clr-icon>
    Global Dashboards
    <clr-vertical-nav-group-children>
      <a *ngFor="let d of globalDashboards|async"
        clrVerticalNavLink
        routerLinkActive="active"
        routerLink="/cards/global/{{d.name}}">
        {{d.name}}
      </a>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>

  <clr-vertical-nav-group routerLinkActive="active">
    <clr-icon shape="user" clrVerticalNavIcon></clr-icon>
    User Dashboards
    <clr-vertical-nav-group-children>
      <a *ngFor="let d of userDashboards|async"
        clrVerticalNavLink
        routerLinkActive="active"
        routerLink="/cards/user/{{d.name}}">
        {{d.name}}
      </a>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>

  <clr-vertical-nav-group routerLinkActive="active">
    <clr-icon shape="employee-group" clrVerticalNavIcon></clr-icon>
    Team Dashboards
    <clr-vertical-nav-group-children>
      <a *ngFor="let d of teamDashboards|async"
        clrVerticalNavLink
        routerLinkActive="active"
        routerLink="/cards/team/{{d.name}}"
        [queryParams]="{team: d.team}">
        {{d.name}}
      </a>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>

  <div class="nav-divider"></div>
  <a clrVerticalNavLink routerLinkActive="active" routerLink="./dispatches">
    <clr-icon shape="dot-circle" clrVerticalNavIcon></clr-icon>
    Dispatches
  </a>
  <div class="nav-divider"></div>
  <a clrVerticalNavLink routerLinkActive="active" routerLink="./adddashboard">
    <clr-icon shape="new" clrVerticalNavIcon></clr-icon>
    Add Dashboard
  </a>
  <div class="nav-divider"></div>
  <a clrVerticalNavLink routerLinkActive="active" routerLink="./settings">
    <clr-icon shape="cog" clrVerticalNavIcon></clr-icon>
    Settings
  </a>
</clr-vertical-nav>
