<clr-vertical-nav [clrVerticalNavCollapsible]="collapsible">

  <clr-vertical-nav-group *ngIf="(globalDashboards | async)?.length > 0" routerLinkActive="active">
    <clr-icon shape="dashboard" clrVerticalNavIcon></clr-icon>
    Global Dashboards
    <clr-vertical-nav-group-children>
      <a *ngFor="let d of globalDashboards|async"
        clrVerticalNavLink
        routerLinkActive="active"
        routerLink="/cards/global/{{d.name}}">
        {{d.name}}
      </a>

    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>

  <clr-vertical-nav-group routerLinkActive="active">
    <clr-icon shape="user" clrVerticalNavIcon></clr-icon>
    User Dashboards
    <clr-vertical-nav-group-children>
      <a *ngFor="let d of userDashboards|async"
        clrVerticalNavLink
        routerLinkActive="active"
        routerLink="/cards/user/{{d.name}}">
        {{d.name}}
      </a>

    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>

  <div class="nav-divider"></div>
  <a clrVerticalNavLink routerLinkActive="active" routerLink="./settings">
    <clr-icon shape="cog" clrVerticalNavIcon></clr-icon>
    Settings
  </a>
  <a clrVerticalNavLink (click)="showNewDashboard()" style="cursor: pointer;">
    <clr-icon shape="new" clrVerticalNavIcon></clr-icon>
    New Dashboard...
  </a>
  <a clrVerticalNavLink (click)="showDeleteDashboard()" style="cursor: pointer;">
    <clr-icon shape="times" clrVerticalNavIcon></clr-icon>
    Delete Dashboard...
  </a>
  <a clrVerticalNavLink (click)="showAddWorkflow()" style="cursor: pointer;">
    <clr-icon shape="add-text" clrVerticalNavIcon></clr-icon>
    Add Workflow...
  </a>
</clr-vertical-nav>
<app-modal-new-dashboard></app-modal-new-dashboard>
<app-modal-add-workflow></app-modal-add-workflow>
<app-modal-delete-dashboard></app-modal-delete-dashboard>
