<h1>Settings</h1>
<div>
  <form clrForm>

    <clr-select-container>
      <label>Refresh time</label>
      <select clrSelect
        name="refresh"
        [value]="refreshSetting$ | async"
        (change)="refreshOnChange($event.target.value)" >
        <option value="30">30s</option>
        <option value="60">1m</option>
        <option value="0">Disabled</option>
      </select>
    </clr-select-container>

    <clr-select-container>
      <label>Default theme</label>
      <select clrSelect
        name="theme"
        [value]="themeActiveSetting$ | async"
        (change)="refreshThemeActiveOnChange($event.target.value)" >
        <option value="default">default</option>
        <option value="dark">dark</option>
      </select>
    </clr-select-container>

  </form>
</div>