<h1>Settings</h1>
<div>
  <form clrForm>

    <clr-select-container>
      <label>Workflow Refresh Time</label>
      <select clrSelect
        name="refresh"
        [value]="refreshSetting$ | async"
        (change)="refreshSettingOnChange($event.target.value)" >
        <option value="30">30s</option>
        <option value="60">1m</option>
        <option value="0">Disabled</option>
      </select>
      <clr-control-helper>How often active workflow data is updated.</clr-control-helper>
    </clr-select-container>

    <clr-select-container>
      <label>Initial Theme</label>
      <select clrSelect
        name="theme"
        [value]="themeActiveSetting$ | async"
        (change)="themeActiveSettingOnChange($event.target.value)" >
        <option value="default">default</option>
        <option value="dark">dark</option>
      </select>
      <clr-control-helper>
        Defines a theme which will be automatically activate. Light theme is the default
        and dark theme the dark.
      </clr-control-helper>
    </clr-select-container>

  </form>
</div>