<clr-modal [(clrModalOpen)]="show">
  <h3 class="modal-title">Delete Dashboard</h3>

  <div class="modal-body">
    <form clrForm [formGroup]="form">
      <div *ngIf="(userDashboards$|async)?.length==0">No user dashboards!</div>
      <div *ngIf="(userDashboards$|async)?.length>0">
        <clr-select-container>
          <label>Dashboard</label>
          <select clrSelect required [(ngModel)]="options" formControlName="name">
            <option *ngFor="let d of userDashboards$|async" value="{{d.name}}">{{d.name}}</option>
          </select>
        </clr-select-container>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" [disabled]="!form.valid" (click)="submit()">Ok</button>
  </div>
</clr-modal>
