<div class="card">

  <div class="card-header">
    <a href="{{workflow.url}}" target="_blank" class="card-link">{{title}}</a>
  </div>

  <div *ngIf="workflow.branches?.length > 0" class="card-block">
    <div class="card-title">
      <a href="{{workflow.url}}/branches" target="_blank" class="card-link">Branches</a>
      <span class="badge badge-success">{{branchState.successCount}}</span>
      <span class="badge badge-danger">{{branchState.failedCount}}</span>
      <span class="badge badge-info">{{branchState.runningCount}}</span>
    </div>

    <div class="progress-block">
      <div *ngIf="branchState.successPersentage > 0"
        class="progress-static success"
        style="display: inline-block;"
        [style.width]="branchState.successPersentage+'%'">
        <div class="progress-meter" data-value="100"></div>
      </div>
      <div *ngIf="branchState.failedPersentage > 0"
        class="progress-static danger"
        style="display: inline-block;"
        [style.width]="branchState.failedPersentage+'%'">
        <div class="progress-meter" data-value="100"></div>
      </div>
      <div *ngIf="branchState.runningPersentage > 0"
        class="progress-static"
        style="display: inline-block;"
        [style.width]="branchState.runningPersentage+'%'">
        <div class="progress-meter" data-value="100"></div>
      </div>
    </div>
  </div>

  <div  class="card-block">
    <div class="card-title">
      <a href="{{workflow.url}}/pulls" target="_blank" class="card-link">Pull Requests</a>
      <div *ngIf="activePrCheckRuns" style="display: inline-block;">
        <span class="badge badge-success">{{prState.successCount}}</span>
        <span class="badge badge-danger">{{prState.failedCount}}</span>
        <span class="badge badge-info">{{prState.runningCount}}</span>
      </div>
    </div>

    <div *ngIf="activePrCheckRuns" class="progress-block">
      <div *ngIf="prState.successPersentage > 0"
        class="progress-static success"
        style="display: inline-block;"
        [style.width]="prState.successPersentage+'%'">
        <div class="progress-meter" data-value="100"></div>
      </div>
      <div *ngIf="prState.failedPersentage > 0"
        class="progress-static danger"
        style="display: inline-block;"
        [style.width]="prState.failedPersentage+'%'">
        <div class="progress-meter" data-value="100"></div>
      </div>
      <div *ngIf="prState.runningPersentage > 0"
        class="progress-static"
        style="display: inline-block;"
        [style.width]="prState.runningPersentage+'%'">
        <div class="progress-meter" data-value="100"></div>
      </div>
    </div>
    <div *ngIf="!activePrCheckRuns">
      <span>No PRs</span>
    </div>
  </div>

  <!-- <div *ngIf="type=='user'" class="card-footer">
    <clr-dropdown [clrCloseMenuOnItemClick]="false">
      <button clrDropdownTrigger aria-label="Actions">
          <clr-icon shape="cog"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen>
          <div clrDropdownItem (click)="remove()">Remove</div>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div> -->

  <div class="card-footer">
    <clr-dropdown *ngIf="type=='user'" [clrCloseMenuOnItemClick]="false">
      <button clrDropdownTrigger aria-label="Actions">
          <clr-icon shape="cog"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen>
          <div clrDropdownItem (click)="remove()">Remove</div>
      </clr-dropdown-menu>
    </clr-dropdown>
    <clr-dropdown *ngIf="workflow.dispatches.length > 0" [clrCloseMenuOnItemClick]="false">
      <button clrDropdownTrigger aria-label="Actions">
          <clr-icon shape="dot-circle"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen>
          <div clrDropdownItem (click)="dispatch(workflow.owner, workflow.name, d.eventType, d.clientPayload)" *ngFor="let d of workflow.dispatches">{{d.name}}</div>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>

</div>
