<clr-wizard #wizardlg
  clrWizardSize="lg"
  [(clrWizardOpen)]="show"
  (clrWizardOnFinish)="doFinish()"
  clrWizardSize="lg">

  <clr-wizard-title>Add Workflow</clr-wizard-title>
  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Create</clr-wizard-button>

  <clr-wizard-page [clrWizardPageNextDisabled]="!formPageOne.valid">
    <ng-template clrPageTitle>Dashboard</ng-template>
    <form clrForm #formPageOne="ngForm">
      <div *ngIf="(userDashboards$|async)?.length==0">No user dashboards!</div>
      <div *ngIf="(userDashboards$|async)?.length>0">
        <clr-select-container>
          <label>Dashboard</label>
          <select clrSelect required [(ngModel)]="options" name="name">
            <option *ngFor="let d of userDashboards$|async" value="{{d.name}}">{{d.name}}</option>
          </select>
        </clr-select-container>
      </div>
    </form>
  </clr-wizard-page>

  <clr-wizard-page [clrWizardPageNextDisabled]="selected.length==0">
    <ng-template clrPageTitle>Repository</ng-template>
    <clr-input-container>
      <label>Query</label>
      <input #query clrInput placeholder="spring user:spring-projects" [(ngModel)]="name" required (keyup)="onKey(query.value)"/>
    </clr-input-container>
    <clr-datagrid class="datagrid-compact" [(clrDgSelected)]="selected">
      <clr-dg-column>Owner</clr-dg-column>
      <clr-dg-column>Name</clr-dg-column>
      <clr-dg-row *clrDgItems="let repository of repositories|async" [clrDgItem]="repository">
        <clr-dg-cell>{{repository.owner}}</clr-dg-cell>
        <clr-dg-cell>{{repository.name}}</clr-dg-cell>
      </clr-dg-row>
      <clr-dg-footer>{{(repositories|async)?.length || 0}} repositories</clr-dg-footer>
    </clr-datagrid>
  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle>Create</ng-template>
    <div>You're about to create a new workflow for following settings:</div>
    <div>Dashboard: {{options}}</div>
    <div>Repositories:
      <span *ngFor="let d of selected">{{d.owner}}/{{d.name}} </span>
    </div>
  </clr-wizard-page>

</clr-wizard>
